---
import Base from "@layouts/Base.astro";
import './../css/global.css';
import Topics from "@components/Docs/Topics.astro";
import Navigation from "@components/Docs/Navigation.astro";
import MainDocs from "@components/Docs/MainDocs.astro";
---

<Base>
    <div class="flex">
        <Topics/>
        <MainDocs/>
    </div>
</Base>